<ion-view>

<ion-nav-bar class="navbar" align-title="center">
	<ion-nav-buttons side="left">
		<button class="button-clear" ng-click="toggleLeft()">
			<i class="ion-navicon-round icon-header" style="font-size:20px;vertical-align:60%"> My Account </i>
		</button>
	</ion-nav-buttons>

	<ion-nav-buttons side="right">
		<button class="button-clear" ng-click="toHome()">
			<i class="ion-home icon-header" style="font-size:20px"></i>
		</button>
		<button class="button-clear" ng-click="toCart()">
			<i class="ion-ios-cart-outline icon-header" style="font-size:20px"></i>
		</button>
	</ion-nav-buttons>
</ion-nav-bar>

<ion-content style="background-color:#eee;background-image: url(img/left_panel_bg.jpg) !important; background-repeat: repeat-y !important;">
<div class="list padding" style="clear:both">
	<div class="item item_bb"><span class="span_acc">Name :</span> <br> <input ng-model="edit.customer_name" type="text" placeholder="Your Name"></div>
	<div class="item item_bb"><span class="span_acc">Phone :</span> <br> <input ng-model="edit.phone" type="text" placeholder="Your Phone Number"></div>
	<div class="item item_bb"><span class="span_acc">Mobile :</span> <br> <input ng-model="edit.mobile" type="text" placeholder="Your Mobile Number"></div>
	<button class="button button-assertive" ng-click="editAcc()" style="width:100%;margin-top:15px;color:#3d3d3d;border-color: yellow;background-color:yellow;font-size:12px;font-weight:bold;padding:0 20px 0 20px;">
		Save
	</button>
</div>

</ion-content>

</ion-view>
